/* You can add global styles to this file, and also import other style files */
.container { max-width: 90%;}
.content-wrap { min-height: 550px; }
.backend-wrap { min-height: 550px;}
.brand { cursor: pointer;}
.footer { padding: 1.5rem 0; color: #fff; text-align: center; background-color: #333; }
.backend-footer { padding: 1.5rem 0; color: #333; text-align: center; background-color: #ccc; }
.error { color: red; }